#img{
    text-align:right;
 }
 
 .ponto{
    text-align: right;
    position: relative;
    float: right;
 }
 
 .mari{
    text-align: center;
    position: relative;
    float: center;
 }
 
 #play{
    text-align: right;
    position: relative;
    float: right;
 }

   

#pausar{
display: none
}
